## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'],inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
v_counts = application_df["APPLICATION_TYPE"].value_counts()
v_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = v_counts[v_counts < 200].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
c_counts = application_df["CLASSIFICATION"].value_counts()
c_counts[c_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(c_counts[c_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at NAME value counts for binning
n_count = application_df['NAME'].value_counts()
n_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [11]:
# Look at NAME value counts >50
n_counts = application_df["NAME"].value_counts()
n_counts[n_counts > 50]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [12]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
n_replace = n_count[n_count < 100].index.tolist()

# Replace in dataframe
for cls in n_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [13]:
# Review info for DataFrame
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Review updated DataFrame info after get_dummies
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 75 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   STATUS                                                                   34299 non-null  int64
 1   ASK_AMT                                                                  34299 non-null  int64
 2   IS_SUCCESSFUL                                                            34299 non-null  int64
 3   NAME_ALPHA PHI SIGMA                                                     34299 non-null  uint8
 4   NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                     34299 non-null  uint8
 5   NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                            34299 non-null  uint8
 6   NAME_CIVITAN INTERNATIONAL                                               34299 non-null  uint8
 7   NAME_DEMOLAY INTERNATIONAL                                               34299 non-null  uint8
 8   NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                34299 non-null  uint8
 9   NAME_HABITAT FOR HUMANITY INTERNATIONAL INC                              34299 non-null  uint8
 10  NAME_HONOR SOCIETY OF PHI KAPPA PHI                                      34299 non-null  uint8
 11  NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS                            34299 non-null  uint8
 12  NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION  34299 non-null  uint8
 13  NAME_KNIGHTS OF COLUMBUS                                                 34299 non-null  uint8
 14  NAME_LITTLE LEAGUE BASEBALL INC                                          34299 non-null  uint8
 15  NAME_MOMS CLUB                                                           34299 non-null  uint8
 16  NAME_MONTANA 4-H FOUNDATION INC                                          34299 non-null  uint8
 17  NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                   34299 non-null  uint8
 18  NAME_Other                                                               34299 non-null  uint8
 19  NAME_PARENT BOOSTER USA INC                                              34299 non-null  uint8
 20  NAME_PTA TEXAS CONGRESS                                                  34299 non-null  uint8
 21  NAME_PTA UTAH CONGRESS                                                   34299 non-null  uint8
 22  NAME_SERTOMA INC                                                         34299 non-null  uint8
 23  NAME_SIGMA BETA DELTA INC                                                34299 non-null  uint8
 24  NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                       34299 non-null  uint8
 25  NAME_TENNESSEE ORDER OF THE EASTERN STAR                                 34299 non-null  uint8
 26  NAME_THE UNITED STATES PONY CLUBS INC                                    34299 non-null  uint8
 27  NAME_TOASTMASTERS INTERNATIONAL                                          34299 non-null  uint8
 28  NAME_TOPS CLUB INC                                                       34299 non-null  uint8
 29  NAME_UNITED STATES BOWLING CONGRESS INC                                  34299 non-null  uint8
 30  NAME_UNIVERSITY OF WYOMING                                               34299 non-null  uint8
 31  NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY             34299 non-null  uint8
 32  NAME_WASHINGTON STATE GRANGE                                             34299 non-null  uint8
 33  NAME_WASHINGTON STATE UNIVERSITY                                         34299 non-null  uint8
 34  APPLICATION_TYPE_Other                                                   34299 non-null  uint8
 35  APPLICATION_TYPE_T10                                                     34299 non-null  uint8
 36  APPLICATION_TYPE_T19                                                     34299 non-null  uint8
 37  APPLICATION_TYPE_T3                                                      34299 non-null  uint8
 38  APPLICATION_TYPE_T4                                                      34299 non-null  uint8
 39  APPLICATION_TYPE_T5                                                      34299 non-null  uint8
 40  APPLICATION_TYPE_T6                                                      34299 non-null  uint8
 41  APPLICATION_TYPE_T7                                                      34299 non-null  uint8
 42  APPLICATION_TYPE_T8                                                      34299 non-null  uint8
 43  AFFILIATION_CompanySponsored                                             34299 non-null  uint8
 44  AFFILIATION_Family/Parent                                                34299 non-null  uint8
 45  AFFILIATION_Independent                                                  34299 non-null  uint8
 46  AFFILIATION_National                                                     34299 non-null  uint8
 47  AFFILIATION_Other                                                        34299 non-null  uint8
 48  AFFILIATION_Regional                                                     34299 non-null  uint8
 49  CLASSIFICATION_C1000                                                     34299 non-null  uint8
 50  CLASSIFICATION_C1200                                                     34299 non-null  uint8
 51  CLASSIFICATION_C2000                                                     34299 non-null  uint8
 52  CLASSIFICATION_C2100                                                     34299 non-null  uint8
 53  CLASSIFICATION_C3000                                                     34299 non-null  uint8
 54  CLASSIFICATION_Other                                                     34299 non-null  uint8
 55  USE_CASE_CommunityServ                                                   34299 non-null  uint8
 56  USE_CASE_Heathcare                                                       34299 non-null  uint8
 57  USE_CASE_Other                                                           34299 non-null  uint8
 58  USE_CASE_Preservation                                                    34299 non-null  uint8
 59  USE_CASE_ProductDev                                                      34299 non-null  uint8
 60  ORGANIZATION_Association                                                 34299 non-null  uint8
 61  ORGANIZATION_Co-operative                                                34299 non-null  uint8
 62  ORGANIZATION_Corporation                                                 34299 non-null  uint8
 63  ORGANIZATION_Trust                                                       34299 non-null  uint8
 64  INCOME_AMT_0                                                             34299 non-null  uint8
 65  INCOME_AMT_1-9999                                                        34299 non-null  uint8
 66  INCOME_AMT_10000-24999                                                   34299 non-null  uint8
 67  INCOME_AMT_100000-499999                                                 34299 non-null  uint8
 68  INCOME_AMT_10M-50M                                                       34299 non-null  uint8
 69  INCOME_AMT_1M-5M                                                         34299 non-null  uint8
 70  INCOME_AMT_25000-99999                                                   34299 non-null  uint8
 71  INCOME_AMT_50M+                                                          34299 non-null  uint8
 72  INCOME_AMT_5M-10M                                                        34299 non-null  uint8
 73  SPECIAL_CONSIDERATIONS_N                                                 34299 non-null  uint8
 74  SPECIAL_CONSIDERATIONS_Y                                                 34299 non-null  uint8
dtypes: int64(3), uint8(72)
memory usage: 3.1 MB

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = 'IS_SUCCESSFUL').values
y = application_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Determining number of features in X for nn_model
len(X_train[0])

74

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
layer_1 = (input_features * 3)
layer_2 = (input_features * 0.5)
layer_3 = (input_features * 0.5)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer_1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer_2, input_dim=layer_1, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=layer_3, input_dim=layer_1, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, input_dim=layer_2, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 222)               16650

 dense_1 (Dense)             (None, 37)                8251

 dense_2 (Dense)             (None, 37)                1406

 dense_3 (Dense)             (None, 1)                 38

=================================================================
Total params: 26,345
Trainable params: 26,345
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5136 - accuracy: 0.7408
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4954 - accuracy: 0.7549
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4926 - accuracy: 0.7566
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4908 - accuracy: 0.7575
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4907 - accuracy: 0.7585
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4888 - accuracy: 0.7591
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4874 - accuracy: 0.7595
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4876 - accuracy: 0.7596
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4867 - accuracy: 0.7610
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4856 - accuracy: 0.7612
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4849 - accuracy: 0.7612
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4842 - accuracy: 0.7604
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4842 - accuracy: 0.7627
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4834 - accuracy: 0.7629
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4836 - accuracy: 0.7635
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4830 - accuracy: 0.7612
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4820 - accuracy: 0.7624
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4823 - accuracy: 0.7622
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4818 - accuracy: 0.7627
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4817 - accuracy: 0.7625
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4810 - accuracy: 0.7628
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4805 - accuracy: 0.7633
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4801 - accuracy: 0.7622
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4803 - accuracy: 0.7632
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4798 - accuracy: 0.7633
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4793 - accuracy: 0.7629
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7639
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7640
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4789 - accuracy: 0.7637
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4784 - accuracy: 0.7643
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4785 - accuracy: 0.7642
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4779 - accuracy: 0.7653
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4778 - accuracy: 0.7645
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4780 - accuracy: 0.7651
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4772 - accuracy: 0.7651
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4771 - accuracy: 0.7660
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4772 - accuracy: 0.7651
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4769 - accuracy: 0.7643
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4764 - accuracy: 0.7652
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4763 - accuracy: 0.7662
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4763 - accuracy: 0.7655
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4757 - accuracy: 0.7666
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4765 - accuracy: 0.7664
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4755 - accuracy: 0.7661
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4758 - accuracy: 0.7654
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4758 - accuracy: 0.7653
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4758 - accuracy: 0.7659
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4754 - accuracy: 0.7655
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7660
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4754 - accuracy: 0.7646
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4747 - accuracy: 0.7657
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7660
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4750 - accuracy: 0.7659
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7664
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7652
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4744 - accuracy: 0.7666
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4737 - accuracy: 0.7664
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4743 - accuracy: 0.7662
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4740 - accuracy: 0.7665
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4745 - accuracy: 0.7655
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4733 - accuracy: 0.7665
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4739 - accuracy: 0.7664
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4757 - accuracy: 0.7671
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4737 - accuracy: 0.7666
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7668
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4730 - accuracy: 0.7676
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4737 - accuracy: 0.7674
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7660
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4736 - accuracy: 0.7665
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4729 - accuracy: 0.7672
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7668
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4731 - accuracy: 0.7665
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4733 - accuracy: 0.7658
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7675
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4729 - accuracy: 0.7676
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7665
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4729 - accuracy: 0.7664
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4731 - accuracy: 0.7666
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4726 - accuracy: 0.7675
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7667
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4728 - accuracy: 0.7668
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4731 - accuracy: 0.7674
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7672
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7668
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7672
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4722 - accuracy: 0.7676
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4720 - accuracy: 0.7669
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4726 - accuracy: 0.7671
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7670
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7672
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4719 - accuracy: 0.7675
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4720 - accuracy: 0.7671
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4727 - accuracy: 0.7675
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4727 - accuracy: 0.7669
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4720 - accuracy: 0.7678
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7673
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4713 - accuracy: 0.7675
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7671
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7673
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4716 - accuracy: 0.7675

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6546 - accuracy: 0.7572 - 541ms/epoch - 2ms/step
Loss: 0.6545611023902893, Accuracy: 0.7572011947631836

In [23]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity_Optimization.h5')
files.download('AlphabetSoupCharity_Optimization.h5')